@use 'styles/_variables.scss' as *;
@use 'sass:map';

.loginContainer {
  max-width: map.get($sizes, maxWidthLoginContainer);
  width: 50%;
  height: 100%;
  background-color: var(--matteColor);
  border-radius: map.get($borderRadius, sm);
  padding: clamp(map.get($spacing, xl), 2vw, map.get($spacing, 4xl));
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: clamp(map.get($spacing, 2xl), 2vw, map.get($spacing, 3xl));

  .inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .logo {
    width: map.get($sizes, iconLarge);
    align-self: center;
  }

  h1 {
    font-size: clamp(map.get($typography, lg), 4vw, map.get($typography, 2xl));
    font-weight: map.get($fontWeight, semiBold);
  }

  h3 {
    font-size: map.get($typography, md);
    font-weight: map.get($fontWeight, semiBold);
  }

  .highlight {
    color: var(--primary);
  }

  .rules {
    color: var(--gray);
    line-height: 1.5;
  }

  .dobContainer {
    display: flex;
    gap: map.get($spacing, lg);

    & > div {
      flex-basis: 33%;
    }

    & > div:first-child {
      flex-basis: 66%;
    }

    @media (max-width: map.get($media, md)) {
      flex-direction: column;
    }
  }

  @media (max-width: map.get($media, md)) {
    max-width: 100%;
    width: 100%;
    padding: map.get($sizes, null);
    background-color: transparent;
    height: 100%;

    .logo,
    h1 {
      align-self: center;
    }
  }
}
