@use 'styles/_variables.scss' as *;
@use 'sass:map';

.overlay {
  position: fixed;
  top: map.get($sizes, null);
  left: map.get($sizes, null);
  right: map.get($sizes, null);
  bottom: map.get($sizes, null);
  background: var(--semiBlack);
  backdrop-filter: blur(map-get($spacing, xs));
  padding: map-get($spacing, lg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: map-get($z-indexes, modal);
  overflow: hidden;
  color: var(--textColor);
}

.modalContent {
  background: var(--backgroundColor);
  border-radius: map-get($borderRadius, lg);
  padding: map-get($spacing, lg);

  @media (max-width: map-get($media, sm)) {
    width: 100%;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: map-get($spacing, lg);

    .modalCloseBtn {
      width: map-get($sizes, iconMini);
      height: map-get($sizes, iconMini);
      cursor: pointer;

      & > * {
        fill: var(--textColor);
      }
    }

    h3 {
      font-weight: map-get($fontWeight, bold);
      font-size: map-get($typography, lg);
    }

    &:not(:has(h3)) {
      justify-content: end;
    }
  }
}
