@use 'styles/_variables.scss' as *;
@use 'sass:map';

.pageLayout {
  display: flex;
  height: 100%;
  background-color: var(--backgroundColor);

  .headerAndMain {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  main {
    flex-grow: 1;
    height: auto;
    min-width: map-get($sizes, minWidthDashboard);
    color: var(--textColor);

    @media (max-width: map-get($media, lg)) {
      min-width: auto;
    }
  }

  .suggestionsPanel {
    height: 100%;
    padding-bottom: map-get($spacing, xl);
    border-left: map-get($borderWidth, thin) solid var(--gray);
    min-width: map-get($sizes, widthAsideUserSearch);
    max-width: map-get($sizes, widthAsideUserSearch);
    @media (max-width: map-get($media, lg)) {
      display: none;
    }
  }
}
