$light-theme: (
  semiTransparentBlack: #00000099,
  primary: #1da1f2,
  semiPrimary: #1da1f280,
  background: #ffffff,
  textColor: #000000,
  errorColor: #ef1c5c,
  backgroundColor: #ffffff,
  scrollbar: #f9fafb,
);
