$light-theme: (
  semiTransparentBlack: #00000099,
  primary: #1da1f2,
  semiPrimary: #1da1f280,
  background: #ffffff,
  textColor: #000000,
  errorColor: #ef1c5c,
  errorShadow: 0 0 4px 1px #f15e5e,
  successColor: #17a100,
  succesShadow: 0 0 4px 1px #71ef5e,
  backgroundColor: #ffffff,
  scrollbar: #f9fafb,
  inputBackground: #ffffff,
);
