@use 'styles/_variables.scss' as *;
@use 'sass:map';

.container {
  display: flex;
  height: 100%;
  gap: map.get($spacing, 3xl);

  @media (max-width: map.get($media, md)) {
    flex-direction: column;
  }
}
