@use 'styles/_variables.scss' as *;
@use 'sass:map';

.searchContainer {
  position: relative;

  label {
    position: absolute;
    top: map.get($spacing, md);
    left: map.get($spacing, lg);
  }
}
