@use 'styles/_variables.scss' as *;
@use 'sass:map';

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, xl);

  .profileAndLogoutBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, md);
    margin-top: map.get($spacing, md);
  }
}

.card {
  display: flex;
}

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: map.get($sizes, iconLarge);
  height: map.get($sizes, iconLarge);
  border: map.get($borderWidth, thin) solid var(--primary);
  border-radius: map.get($borderRadius, round);
  overflow: hidden;

  &.hasAvatar {
    border: none;
  }

  svg > * {
    color: var(--primary);
    fill: var(--primary);
  }
}

.user {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: map.get($spacing, xs);
  gap: map.get($spacing, xs);
}
