@use 'styles/_variables.scss' as *;
@use 'sass:map';

.profileAndLogoutBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: map-get($spacing, xl);
  margin-top: map-get($spacing, md);
}
