@use 'styles/_variables.scss' as *;
@use 'sass:map';

.container {
  display: flex;
  flex-direction: column;
  gap: map-get($spacing, 2xl);
  min-width: map-get($sizes, minWidthUserSearch);

  .placeholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: map-get($spacing, md);
  }

  .imageWrapper {
    flex: 1 1 calc(100% / 3 - map-get($spacing, md));
    max-width: calc(100% / 3 - map-get($spacing, md));
    height: auto;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
