@use 'styles/_variables.scss' as *;
@use 'sass:map';

.container {
  display: flex;
  flex-direction: column;
  gap: map-get($spacing, 3xl);
  .mightLike {
    display: flex;
    flex-direction: column;
    gap: map-get($spacing, xl);
    color: var(--textColor);

    h3 {
      font-weight: map-get($fontWeight, semiBold);
      font-size: map-get($typography, lg);
    }

    .users {
      display: flex;
      flex-direction: column;
      gap: map-get($spacing, md);
    }

    .showMore {
      width: fit-content;
      background-color: transparent;
      color: var(--primary);
    }
  }

  .mightLikeFooter {
    color: var(--textColor);
    text-align: center;
  }
}
